<h1>Listing pins2s</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins2s.each do |pins2| %>
      <tr>
        <td><%= image_tag pins2.image.url(:medium) %></td>
        <td><%= pins2.description %></td>
        <td><%= pins2.user.email if pins2.user %></td>
        <td><%= link_to 'Show', pins2 %></td>
      <% if pins2.user == current_user %>
        <td><%= link_to 'Edit', edit_pins2_path(pins2) %></td>
        <td><%= link_to 'Delete', pins2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Pins2', new_pins2_path %>
<% end %>